@model List<CarritoPedidos.Models.ViewModels.ListProductViewModel>
@{
    ViewBag.Title = "Agregar productos";
}
<div class="row">
    <h2>@ViewBag.title</h2>
</div>
<div class="row" style="margin-top:10px">
    <div>
        <table class="table" style="table-layout: fixed">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio unitario</th>
                <th>Cantidad</th>
            </tr>
            @foreach (var oProduct in Model)
            {
                <tr>
                    <td>
                        @oProduct.Name
                    </td>
                    <td>
                        @oProduct.Description
                    </td>
                    <td>
                        $ @oProduct.Price
                    </td>
                    <td>
                        <input type="number" value="0" min="0" style="width:20%" id="@oProduct.Id" />
                    </td>
                    <td>
                        
                        <a href="#" onclick="realizeOrder(@oProduct.Id)">Agregar</a>
                    </td>
                </tr>
            }
        </table>
        <div class="col" style="margin-top:20px">
            <a class="btn btn-primary" href="~/Order/SummarizeOrder" style="width:100%">Finalizar pedido</a>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>

    function validateQuantities() {
        var bool = false;
        $('.table input[type=number]').each(function () {
            var valor = $(this).val();
            if (valor !== "" && valor > 0) {
                bool = true;
            }
        });
        return bool;
    }

    function realizeOrder(id) {
        var quantity = $("#" + id).val();

        var url = '@Url.Action("AddProduct", "Order")?Id=' + id + "&Quantity=" + quantity;
        window.location.href = url;
    }

</script>



