@model CarritoPedidos.Models.ViewModels.ListProductViewModel
@{
    ViewBag.Title = "Editar producto";
}

<div>
    <h2>@ViewBag.title</h2>
</div>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    <div class="row" style="margin-top:20px">
        <div class="col">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Name)
                @Html.TextBoxFor(d => d.Name, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Name, "", new { style = "color:red" })
            </div>
            <div style="margin-top:20px">
                @Html.LabelFor(d => d.Description)
                @Html.TextBoxFor(d => d.Description, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Description, "", new { style = "color:red" })
            </div>
            <div style="margin-top:20px">
                @Html.LabelFor(d => d.Price)
                @Html.TextBoxFor(d => d.Price, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Price, "", new { style = "color:red" })
            </div>
        </div>
        <div class="col" style="margin-top:20px">
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    </div>
}
